/*Estilos*/

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 40px;
    text-align: center;
    background-image: url("../img/imagen-digital4.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;



}

h1  {
    color: #f7f3f3;
}

p {
    color: #83cce4;
}
